<div class="row m-x-8 flex-grow-1 justify-content-between">
  <mat-card class="flex-grow-1 card-margin-right">
    <mat-card-header>
      <mat-card-subtitle
        >CL <small>Marked</small>/ <small>Submitted</small> ({{
          attendanceData?.data_yearly?.year_number
        }})</mat-card-subtitle
      >
      <mat-card-title>
        {{ attendanceData?.data_yearly?.cl_marked ? attendanceData?.data_yearly?.cl_marked : 0 }} /
        {{
          attendanceData?.data_yearly?.cl_submitted ? attendanceData?.data_yearly?.cl_submitted : 0
        }}
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="flex-grow-1 card-margin-right">
    <mat-card-header>
      <mat-card-subtitle
        >Compen <small>Marked</small>/ <small>Submitted</small> ({{
          attendanceData?.data_yearly?.year_number
        }})</mat-card-subtitle
      >
      <mat-card-title>
        {{
          attendanceData?.data_yearly?.compen_marked ? attendanceData?.data_yearly?.compen_marked : 0
        }}
        /
        {{
          attendanceData?.data_yearly?.compen_submitted
            ? attendanceData?.data_yearly?.compen_submitted
            : 0
        }}
      </mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="flex-grow-1 card-margin-right">
    <mat-card-header>
      <mat-card-subtitle
        >Punching Misses ({{ attendanceData?.data_yearly?.year_number }})</mat-card-subtitle
      >
      <mat-card-title>
        {{ attendanceData?.data_yearly?.single_punchings || 0 }}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
