.heading {
  display: flex;
  align-items: center;
}

.flex-spacer {
  flex-grow: 1;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.item {
  flex-basis: 50%;
  box-sizing: border-box;
}
/* .mdc-radio {
  padding: 0px !important;
} */

th {
  text-align: right;
  font-size: 0.875em;
}
td,th {
  vertical-align: top;
}
