<p class="heading">
  <!-- Mark Leave -->
  <span class="flex-spacer"></span>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</p>

<div class="text-center">
  <div style="font-weight: bold">{{ data.monthlyPunching?.name || data.punchingInfo.name }}</div>
  <small>{{ data.monthlyPunching?.designation  || data.punchingInfo.designation }}</small> <br />
  <mat-divider class="m-t-8"></mat-divider>
  <b>{{ data.punchingInfo.date || data.punchingInfo.day_str || (data.calender.date| date: 'dd-MM-yyyy'  )}}</b> <br />
  <small> Time slot:&nbsp; {{  data.punchingInfo.flexi_time ?? '?'}}</small> <br />

  {{ punchingTimes }}

  <mat-divider class="m-b-4"></mat-divider>
  <small>
    @if (data.punchingInfo.punching_count >= 2) {
      Gr:<span
        [style.color]="
          data.punchingInfo.grace_sec > 3600 ||
          data.punchingInfo.grace_exceeded300_and_today_has_grace
            ? 'red'
            : 'primary'
        "
      >
        {{ data.punchingInfo.grace_str || 0 }}; &nbsp;</span
      >
    }

    Gr (Month):
    <span [style.color]="data.monthlyPunching?.total_grace_sec > 300 * 60 ? 'red' : 'primary'">
      {{ data.monthlyPunching?.total_grace_str || 0 }}
    </span>
    min<br />

    @if (data.monthlyPunching?.total_grace_exceeded300_date) {
      Exceeded 300 on: {{ getDateExceeded300() }} <br />
    }
    <mat-divider class="m-b-4"></mat-divider>
    Ex (Month): {{ data.monthlyPunching?.total_extra_str || 0 }} hours <br />
  </small>
</div>
<!--
@if( data.punchingInfo.finalized_by_controller){
  <div class="d-flex row justify-content-center align-items-center">
    <i [style.color]="'green'" class="material-icons">approval</i>
    <small> Regularised</small>
  </div>
} -->

<mat-divider class="m-b-8"></mat-divider>

@if (!data.punchingInfo.in_section) {
  Not posted in section
} @else {
  @if (canMarkLeave) {
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selected">
      <div class="row">
        <ng-container *ngFor="let option of leaveList">
          @if ( canShowOption(option)) {
            <div class="col-sm-6">
              <mat-radio-button [value]="option.value">
                <small> {{ option.label }} </small>
              </mat-radio-button>
            </div>
          }
        </ng-container>
      </div>
    </mat-radio-group>
    <!-- an input for remarks optional -->
    <mat-form-field class="d-flex row" appearance="outline">
      <input matInput placeholder="Remarks" [(ngModel)]="remarks" />
    </mat-form-field>
  }
  <mat-divider class="m-b-8"></mat-divider>
  @if (canMarkSinglePunch) {
    <mat-checkbox
    [disabled]="data.punchingInfo.punching_count===1"
    [(ngModel)]="isSinglePunch"
    (change)="onSinglePunchChange()">
    Is one-time punch
  </mat-checkbox>

    <mat-radio-group [disabled]="!isSinglePunch"  aria-label="Select when punched" [(ngModel)]="single_punch_type">
      <div class="row">
            <div class="col-sm-6">
              <mat-radio-button [value]="'in'"><small> Missed PunchOut </small> </mat-radio-button>
            </div>
            <div class="col-sm-6">
              <mat-radio-button [value]="'out'"><small> Missed PunchIn</small> </mat-radio-button>
            </div>
      </div>
    </mat-radio-group>
    <mat-form-field>
      @if(single_punch_type === 'in'){
        <mat-label>Select Punch-Out time</mat-label>
      } @else {
        <mat-label>Select Punch-In time</mat-label>
      }

      <mtx-datetimepicker #datetimePicker
                          [mode]="'portrait'"
                          [type]="'datetime'"
                          [startView]="'clock'"
                          [twelvehour]="true"
                          [timeInterval]="5"
                          [timeInput]="true"></mtx-datetimepicker>
      <input [mtxDatetimepicker]="datetimePicker" [(ngModel)]="datetime" matInput required>
      <mtx-datetimepicker-toggle [for]="datetimePicker" matSuffix></mtx-datetimepicker-toggle>
    </mat-form-field>
    @if(canRegulariseSinglePunch && isSinglePunch){
      <ng-template  ngxPermissionsOnly="can_regularize_single_punch">
      <mat-checkbox [(ngModel)]="regulariseSinglePunch">Regularise</mat-checkbox>
    </ng-template>

    }
  } @else if(regulariseSinglePunch) {
    One-Time Punching Regularised
  }



  @if (leave) {
  <mat-divider class="m-b-8"></mat-divider>

    <table>
      <tr>
        <th><span [style.color]="'gray'">leave:</span></th>
        <td>{{ submittedLeaveLabel }}</td>
      </tr>
      <tr>
        <th><span [style.color]="'gray'">date:</span></th>
        <td>
          @if (leave.start_date !== leave.end_date) {
            {{ leave.start_date | date: 'dd-MM-yyyy' }} to <br />
            {{ leave.end_date | date: 'dd-MM-yyyy' }}
          } @else {
            {{ leave.start_date | date: 'dd-MM-yyyy' }}
          }
        </td>
      </tr>
      <tr>
        <th><span [style.color]="'gray'">type:</span></th>
        <td>{{ leave.leave_cat }} {{ leave.time_period }}</td>
      </tr>
      <tr>
        <th><span [style.color]="'gray'">reason:</span></th>
        <td>
          <small> {{ leave.reason }} </small>
        </td>
      </tr>
      <tr>
        <th><span [style.color]="'gray'">status:</span></th>
        <td>
          <span [style.color]="getLeaveColor()">
            @switch (leave.active_status) {
              @case ('N') {
                Pending
              }
              @case ('Y') {
                Approved
              }
              @case ('R') {
                Rejected
              }
              @case ('C') {
                Cancelled
              }
              @default {
                Unknown
              }
            }
          </span>
        </td>
      </tr>
    </table>
  } @else {
    <div class="d-flex row justify-content-center" [style.color]="'red'">
      {{ selectedLabel }}
    </div>
  }

  @if (canMarkLeave || canMarkSinglePunch) {
    <mat-divider></mat-divider>
    <div class="m-t-8 d-flex justify-content-around">
      <button mat-button [color]="'primary'" (click)="onNoClick()">Cancel</button>
      <button mat-button [color]="'accent'" (click)="onOkClick()" cdkFocusInitial>Ok</button>
    </div>
  }
}
