
<!-- <span
  *ngIf="is_today === true && punching.punching_count < 2 && !is_holiday"
  [style]="getDurationColour(punching)"
>
-
</span>
<span
  *ngIf="is_today === false && punching.punching_count < 2 && !is_holiday && (!punching.hint || punching.hint ==='clear')"
  [style]="getDurationColour(punching)"
>
  <mat-icon><span class="material-icons-outlined"> help_outline </span></mat-icon>
</span>

<span *ngIf="punching.hint && punching.hint !=='clear'" [style]="getDurationColour(punching)">

  {{ getLeaveText(punching) }}
</span> -->
@if(punching.punching_count >= 2){
{{ punching.duration_str }}
}
@else if (punching.hint && punching.hint !=='clear') {
  <span [style.color]="'red'">

    {{ getLeaveText(punching) }}
  </span>
}
@else if(is_today === true && punching.punching_count < 2 && !is_holiday){

<span [style]="getTodaysStyle()">
-
</span>
}
@else if (!is_today && punching.punching_count === 0  && !is_holiday && (!punching.hint || punching.hint ==='clear')) {
  <span [style.color]="'red'"
>
<!-- leave -->
  <mat-icon><span class="material-icons-outlined"> help_outline </span></mat-icon>
</span>
}
@else if (!is_today && punching.punching_count < 2 && !is_holiday && (!punching.hint || punching.hint ==='clear')) {
  @if(punching.finalized_by_controller){
  <span [style.color]="'black'">Regularised</span>
  }@else {
    <span [style]="getSinglePunchingStyle()">
      <mat-icon><span class="material-icons-outlined"> help_outline </span></mat-icon>
     </span>

  }
}

