
@if(punching.punching_count >= 2){
  {{ punching.duration_str }}
  }
  @else if(is_today === true && punching.punching_count < 2 && !is_holiday){

  <span [style]="getTodaysStyle()">
  -
  </span>
  }
  @else if (punching.is_unauthorised) {
    <span [style.color]="'red'"
  >
  Unauthorised
  </span>

  }


  @else if (is_today === false && (punching.punching_count === 1 || punching.single_punch_type) && !is_holiday ) {
    <span [style]="getSinglePunchingStyle()"
  >
  One-Time Punching
  </span>

  }
  @if ((punching.hint && punching.hint !=='clear') || (!punching.hint)) {
    <span [style.color]="'red'">

      {{ getLeaveText(punching) }}
    </span>
  }
