
    <form  class="form-field-full" [formGroup]="postingForm">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Add Employee</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <div class="row">

          <div class="col-sm-12">

          <mat-form-field class="w-full">
            <mat-label>Employee</mat-label>
            <mtx-select [items]="(freeEmployees$ | async)!" bindLabel="name" bindValue="id" autofocus
            formControlName="selemployee" >
            </mtx-select>
          </mat-form-field>
        </div>
    </div>
    <div class="row">

      <div class="col-sm-4">

        <mat-form-field>
          <mat-label>Starting date</mat-label>
          <input
          formControlName="startdate"
            readonly
            matInput
            [max]="today"
            [matDatepicker]="picker"
            placeholder="Select starting date"
            (dateChange)="dateChange('change', $event)"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field class="w-full">
          <mat-label>select section</mat-label>
          <mtx-select [items]="sections" bindLabel="name" bindValue="id"
          formControlName="section">
          </mtx-select>
        </mat-form-field>

      </div>
      <div class="col-sm-4">
      <mat-form-field class="w-full">
        <mat-label>select attendance-book</mat-label>
        <mtx-select [items]="attendancebooks" bindLabel="name" bindValue="id"
        formControlName="attendanceBook">
        </mtx-select>
      </mat-form-field>
    </div>
    </div>

    <div class="row">
      <button mat-flat-button color="accent"
      [disabled]="!!postingForm.invalid" [loading]="isSubmitting"
    (click)="addPosting()">Save</button>
    </div>

         </mat-card-content>
      </mat-card>
</form>

