  <!-- can be in the future. -->

  <span *ngIf="casual" [style.color]="casual_color" class="computer-hint"> CL </span>
  <span *ngIf="casual_fn" [style.color]="casual_color"   class="computer-hint"> <small>&#xbd;CL</small>  </span>
  <!-- <span *ngIf="time_exceeded_fn" [style.color]="'red'" ><small><mat-icon>alarm</mat-icon></small></span> -->

  <!-- not downloaded and not today -->
  <span *ngIf="fetch_pending && !calendarInfo.is_today"  style="color: lightgrey;" ><mat-icon  class="icon-small">cloud_download</mat-icon></span>
  <span [style.color]="icon_color" ><mat-icon>{{icon_name}}</mat-icon></span>

  <span *ngIf="casual_an" [style.color]="casual_color"   class="computer-hint"> <small>&#xbd;CL</small> </span>
  <span *ngIf="item.grace_exceeded300_and_today_has_grace" [style.color]="'red'" ><small><mat-icon>alarm</mat-icon></small></span>
