.computer-hint {
    border-radius: 3px;
    /* border: 2px solid #ff4081; */
    padding: 2px 3px;
    /* color: #ff4081; */
    font-weight: bold;
  }

  .icon-small {
    transform: scale(.5);
  }
