  <!-- can be in the future. -->
  @if (item.hint) {
    <span *ngIf="item.hint === 'casual_an' || item.hint === 'casual_fn'" style="color: blue;" >
      <span class="menu-badge bg-blue-300"> <small>CL</small> </span></span>
      <span *ngIf="item.hint === 'casual'" style="color: blue;" >
        <span class="menu-badge bg-blue-300"> CL </span></span>
  }

  @if (!calendarInfo.future_date ) {

    @if ( !calendarInfo.attendance_trace_fetch_complete && !calendarInfo.is_today  ) {
      <span style="color: lightgrey;" ><mat-icon  class="icon-small">cloud_download</mat-icon></span>
     <!-- <span style="color: lightgrey;" >.</span> -->

    } @else {

      <span *ngIf="item.punching_count >=6 " style="color: gray;" ><mat-icon>looks_6</mat-icon></span>
      <span *ngIf="item.punching_count === 5" style="color: gray;" ><mat-icon>looks_5</mat-icon></span>
      <span *ngIf="item.punching_count === 4" style="color: gray;" ><mat-icon>looks_4</mat-icon></span>
      <span *ngIf="item.punching_count === 3" style="color: gray;" ><mat-icon>looks_3</mat-icon></span>
      <span *ngIf="item.punching_count === 2" style="color: gray;" ><mat-icon>looks_two</mat-icon></span>
      <span *ngIf="item.punching_count === 1 && !calendarInfo.is_today" style="color: orange;" ><mat-icon>looks_one</mat-icon></span>
      <span *ngIf="item.punching_count === 1 && calendarInfo.is_today" style="color: blue;" ><mat-icon>looks_one</mat-icon></span>

      @if ( !calendarInfo.holiday && item.punching_count === 0 && !calendarInfo.hint && !calendarInfo.is_today) {
        <!-- <span class="menu-badge bg-red-300">&nbsp;L&nbsp;</span> -->
        <span style="color: #6017ff;" > <mat-icon>close</mat-icon></span>
      }

      @if (item.grace_sec > 3600 ) {
        <span style="color: #FF1744;" > <mat-icon>alarm</mat-icon></span>
      }

    }

    <!--DONE half day leave and single or double punch-->

  }
