<!-- <p>Employee {{data.emp.name}} ({{ data.emp.aadhaarid }})</p>
      <p>Flexi time (current): {{ !data.emp.flexi_minutes_current ? 'Normal' : data.emp.flexi_minutes === -15 ? '15 Minutes Before Normal' : '15 Minutes After Normal' }}</p>
      <p>Last Changed: {{ lastChangedtext }}</p> -->
    
      <form  [formGroup]="applyFlexiForm" >
        
      @if(canChangeFlexi){
        <mat-form-field class="w-full">
          <mat-label>With effect from</mat-label>
          <input readonly matInput [matDatepicker]="picker" [min]="tomorrow"  formControlName="wef">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
      <mat-form-field class="w-full">
        <mat-label>Select a new flexi time</mat-label>
        <mat-select  formControlName="flexi_minutes">
    
          @for (timeOption of timeOptions ; track timeOption) {
          <mat-option [value]="timeOption.value">{{timeOption.label}}</mat-option>
          }
    
        </mat-select>
      </mat-form-field>
    
    } @else {
     Flexi time can not be changed now
    }
    
      <!-- {{end_date}} -->
      <div class="d-flex row">
        <div class="col d-flex justify-content-end">
          <button mat-flat-button
          [disabled]="!applyFlexiForm.valid"
          color="accent"
          (click)="applyFlexi()"
          >Apply Leave</button>
          <button mat-flat-button class="m-l-4" color="primary"   (click)="cancel()">Cancel</button>
        </div>
      </div>
    
    </form>