<!-- here, create a form for applying leave -->
<h1>Leave Application</h1>

@if (errorMessage.length) {
  @for (e of errorMessage; track e) {
    <mtx-alert type="warning"> {{ e }}</mtx-alert>
  }
}

@if (holidaysInPeriod.length) {
  
   <mtx-alert type="info"> Holidays in Period :  {{ holidaysInPeriod.toString() }} </mtx-alert>

}
<form class="example-container" [formGroup]="applyLeaveForm" (ngSubmit)="applyLeave()">
  <div class="d-flex row">
    <mat-form-field class="col" appearance="fill">
      <mat-label>Leave Type</mat-label>
      <mat-select formControlName="leaveType">
        @for (leavetype of leaveapplyTypes; track leavetype) {
          <mat-option [value]="leavetype.value">{{ leavetype.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col" appearance="outline">
      <mat-label>Days</mat-label>
      <input
        matInput
        type="number"
        formControlName="leaveCount"
        placeholder="Days"
        readonly="true"
      />
    </mat-form-field>
  </div>

  <div class="d-flex row align-items-center justify-content-center">
    <mat-form-field class="col" appearance="fill">
      <mat-label> {{showingPeriod ? 'From date' : 'Date'}}</mat-label>
      <input matInput [matDatepicker]="pickerf"  (focus)="pickerf.open()" (click)="pickerf.open()" formControlName="fromDate" readonly="true" />
      <!-- <mat-hint>YYYY-MM-DD</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="pickerf"></mat-datepicker-toggle>

      <mat-datepicker #pickerf></mat-datepicker>
    </mat-form-field>

    <!-- if casual leave is selected, fromType should be full, an, fn otherwise just hide, but its value should be full -->
    @if (applyLeaveForm.get('leaveType')?.value === 'casual') {
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="fromType">
          @for (fromtype of casualFromTypes; track fromtype) {
            <mat-option [value]="fromtype.value">{{ fromtype.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    
    @if( showingPeriod ) {
    
    <mat-form-field class="col" appearance="fill">
      <mat-label>To date</mat-label>
      <input
        [min]="casualMinDate"
        matInput
        (focus)="picker.open()"
        (click)="picker.open()"
        [matDatepicker]="picker"
        formControlName="toDate"
        readonly="true"
      />
      <!-- <mat-hint>YYYY-MM-DD</mat-hint> -->

      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker-toggle matSuffix (click)="clearEndDate()">
        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
      </mat-datepicker-toggle>

      <mat-datepicker #picker [disabled]="!applyLeaveForm.get('fromDate')?.value"></mat-datepicker>
    </mat-form-field>
    <!-- if casual leave is selected, toType should be full, an, fn otherwise just hide, but its value should be full -->
    @if (applyLeaveForm.get('leaveType')?.value === 'casual') {
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="toType">
          @for (totype of casualToTypes; track totype) {
            <mat-option [value]="totype.value">{{ totype.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  } @else {
    <!-- a button which will show the period on click -->
    
    <button class="m-l-4" mat-button color="primary" (click)="showPeriod()">Multiple days...</button>
  }

  </div>

  <!-- for compen, we need in lie of -->
  <div class="d-flex row">
    @if (applyLeaveForm.get('leaveType')?.value === 'compen') {
      <mat-form-field class="col">
        <ngx-multiple-dates
          [matDatepicker]="compenpicker"
          placeholder="Compensation for dates"
          name="compensationDates"
          formControlName="inLieofDates"
          [closeOnSelected]="true"
          [required]="applyLeaveForm.get('leaveType')?.value === 'compen'"
          [max]="today"
          [min]="compenMinDate"
          [minlength]="applyLeaveForm.get('leaveCount')?.value || 1"
          [maxlength]="applyLeaveForm.get('leaveCount')?.value || 1"
        >
        </ngx-multiple-dates>
        <mat-datepicker-toggle matPrefix [for]="compenpicker"></mat-datepicker-toggle>
        <mat-datepicker #compenpicker></mat-datepicker>
      </mat-form-field>
    }
  </div>
  <div class="d-flex row">
    <mat-form-field class="col" appearance="fill">
      <mat-label>Reason</mat-label>
      <input matInput formControlName="reason" placeholder="Reason" />
      <mat-hint>Reason for leave</mat-hint>
      @if (applyLeaveForm.hasError('required')) {
        <mat-error>Reason is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
  <div class="d-flex row">
    <div class="col d-flex justify-content-end">
      <button mat-flat-button type="submit" 
      [disabled]="!applyLeaveForm.valid || 
      (holidaysInPeriod.length && isCasualOrCompen )" 
      color="accent">Apply Leave</button>
      <button mat-flat-button class="m-l-4" color="primary">Cancel</button>
    </div>
  </div>
</form>

{{ applyLeaveForm.value | json }}
{{ applyLeaveForm.valid }}
