<!-- here, create a form for applying leave -->
<h1>Leave Application</h1>

@if (errorMessages.length) {
  @for (e of errorMessages; track e) {
    <mtx-alert type="danger"> {{ e }}</mtx-alert>
  }
}
@if (warningMessages.length) {
  @for (e of warningMessages; track e) {
    <mtx-alert type="warning"> {{ e }}</mtx-alert>
  }
}
<!-- @if (holidaysInPeriod.length) {
   <mtx-alert type="info"> Holidays in Period :  {{ holidaysInPeriod.toString() }} </mtx-alert>
} -->
<form class="example-container" [formGroup]="applyLeaveForm" >
  <div class="d-flex row">
    <mat-form-field class="col" appearance="fill">
      <mat-label>Leave Type</mat-label>
      <mat-select formControlName="leave_type">
        @for (leavetype of leaveapplyTypes; track leavetype) {
          <mat-option [value]="leavetype.value">{{ leavetype.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if(applyLeaveForm.get('start_date')?.value && applyLeaveForm.get('leave_count')!.value! > 0){
    <mat-form-field class="col" appearance="outline">
      <mat-label>Days</mat-label>
      <input
        matInput
        type="number"
        formControlName="leave_count"
        placeholder="Days"
        readonly="true"
      />
    </mat-form-field>
  }
  @if(isCasualOrCompen){
  <mat-checkbox
  formControlName="multipleDays">
  Multiple Days
</mat-checkbox>
}

  </div>

  @if(applyLeaveForm.get('leave_type')?.value){
  <div class="d-flex row align-items-stretch justify-content-center">
    <mat-form-field class="col" appearance="fill">
      <mat-label> {{this.applyLeaveForm.get('multipleDays')?.value || !isCasualOrCompen ? 'Leave date (from)' : 'Leave date'}}</mat-label>
      <input matInput [matDatepicker]="pickerf"  (focus)="pickerf.open()" (click)="pickerf.open()"
      [max]="fromDateMax"
      formControlName="start_date" readonly="true" />
      <!-- <mat-hint>YYYY-MM-DD</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="pickerf"></mat-datepicker-toggle>

      <mat-datepicker #pickerf></mat-datepicker>
    </mat-form-field>

    <!-- if casual leave is selected, fromType should be full, an, fn otherwise just hide, but its value should be full -->
    @if (applyLeaveForm.get('leave_type')?.value === 'casual' && !this.applyLeaveForm.get('multipleDays')?.value) {
      <mat-form-field class="col" appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="fromType">
          @for (fromtype of casualFromTypes; track fromtype) {
            <mat-option [value]="fromtype.value">{{ fromtype.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    @if( this.applyLeaveForm.get('multipleDays')?.value && applyLeaveForm.get('leave_type')?.value !== 'compen_for_extra'){

    <mat-form-field class="col" appearance="fill">
      <mat-label>To date</mat-label>
      <input
        [min]="isCasualOrCompenOrCompenExtra ? casualMinDateTo : applyLeaveForm.get('start_date')?.value"
        [max]="isCasualOrCompenOrCompenExtra ? casualMaxDateTo : null"
        matInput
        (focus)="picker.open()"
        (click)="picker.open()"
        [matDatepicker]="picker"
        formControlName="end_date"
        readonly="true"
      />
      <!-- <mat-hint>YYYY-MM-DD</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker-toggle matSuffix (click)="clearEndDate()">
        <mat-icon matDatepickerToggleIcon>clear</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="!applyLeaveForm.get('start_date')?.value"></mat-datepicker>
    </mat-form-field>
    <!-- if casual leave is selected, toType should be full, an, fn otherwise just hide, but its value should be full -->
    <!-- @if (applyLeaveForm.get('leave_type')?.value === 'casual') {
      <mat-form-field class="col"  appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="toType">
          @for (totype of casualToTypes; track totype) {
            <mat-option [value]="totype.value">{{ totype.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    } -->
  }

  </div>

  <!-- for compen, we need in lie of -->
  <div class="d-flex row">
    @if (applyLeaveForm.get('leave_type')?.value === 'compen') {
      <mat-form-field class="col">
        <ngx-multiple-dates
          [matDatepicker]="compenpicker"
          placeholder="Compensation for dates"
          name="compensationDates"
          formControlName="inLieofDates"
          [closeOnSelected]="true"
          [required]="true"
          [max]="compenMaxDate"
          [min]="compenMinDate"
          [minlength]="applyLeaveForm.get('leave_count')?.value || 1"
          [maxlength]="applyLeaveForm.get('leave_count')?.value || 1"
        >
        </ngx-multiple-dates>
        <mat-datepicker-toggle matPrefix [for]="compenpicker"></mat-datepicker-toggle>
        <mat-datepicker #compenpicker></mat-datepicker>
      </mat-form-field>
    } @else if (applyLeaveForm.get('leave_type')?.value === 'compen_for_extra') {
      <mat-form-field class="col">
        <mat-label>Compensation for month</mat-label>
        <mat-select formControlName="inLieofMonth">
          @for (inlieof of inLieofMonths; track inlieof) {
            <mat-option [value]="inlieof.value">{{ inlieof.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
  <div class="d-flex row">
    <mat-form-field class="col" appearance="fill">
      <mat-label>Reason</mat-label>
      <input matInput formControlName="reason" placeholder="Reason for leave" />
      <!-- <mat-hint>Reason for leave</mat-hint> -->
      @if (applyLeaveForm.hasError('required')) {
        <mat-error>Reason is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </div>
}
  <div class="d-flex row">
    <div class="col d-flex justify-content-end">
      <button mat-flat-button
      [disabled]="isSubmitting || !applyLeaveForm.valid ||
      (holidaysInPeriod.length >0 && isCasualOrCompen ) || errorMessages.length > 0"
      color="accent"
      (click)="applyLeave()"
      >Apply Leave</button>
      <button mat-flat-button class="m-l-4" color="primary"   (click)="cancel()">Cancel</button>
    </div>
  </div>

</form>

@if (prefix_holidays && prefix_holidays.length) {
   <mtx-alert type="info"> Prefix: {{ prefix_holidays.toString() }}</mtx-alert>
}

@if (suffix_holidays && suffix_holidays.length) {
    <mtx-alert type="info"> Suffix: {{ suffix_holidays.toString() }}</mtx-alert>
  
}


<!-- {{ applyLeaveForm.value | json }} -->
