
<div class="search-container">
  <mat-form-field class="datepicker-field" #releasedAtPicker color="accent">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="dateChanged('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="search-field">
    <input matInput #searchInput (keyup)="applyFilter(searchInput.value)" placeholder="Search">
  </mat-form-field>

</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">No.</th>
      <td mat-cell *matCellDef="let post">{{ post.id }}</td>
    </ng-container> -->

    <ng-container matColumnDef="aadhaarid">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by aadhaar number">Aadhar Id</th>
      <td mat-cell *matCellDef="let post">{{ post.aadhaarid }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
      <td mat-cell *matCellDef="let post">{{ post.name }}</td>
    </ng-container>
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by designation">Designation</th>
      <td mat-cell *matCellDef="let post">{{ post.designation }}</td>
    </ng-container>
    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by section">Section</th>
      <td mat-cell *matCellDef="let post">{{ post.section }}</td>
    </ng-container>



    <ng-container matColumnDef="in_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by in date">Punch In</th>
      <td mat-cell *matCellDef="let post">{{ post.in_datetime }}</td>
    </ng-container>

    <ng-container matColumnDef="out_datetime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by out time">Out Time</th>
      <td mat-cell *matCellDef="let post">{{ post.out_datetime }}</td>
    </ng-container>

    <ng-container matColumnDef="grace_sec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by grace time">Grace Time(In Sec)</th>
      <td mat-cell *matCellDef="let post">{{ post.grace_sec }}</td>
    </ng-container>
    <ng-container matColumnDef="grace_str">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by grace time">Grace Time(In Min)</th>
      <td mat-cell *matCellDef="let post">{{ post.grace_str }}</td>
    </ng-container>

    <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by views">
      Views
    </th>
    <td mat-cell *matCellDef="let post"> {{ post.views }} </td>
  </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator
    [pageSizeOptions]="[50, 100, 200]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
