.login-container {
  display: flex;
  height: 100vh;
}

.left-side, .right-side {
  flex: 1;
  padding: 20px;
}

.left-side {
  background-color: #C5CAE9  ; /* Set background color for the left side */
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
