<breadcrumb></breadcrumb>
<div class="row d-flex justify-content-between">

    <mat-form-field class="m-l-8"  appearance="outline">
      <mat-label>Search</mat-label>

      <input matInput #searchInput (keyup)="applyFilter(searchInput.value)" placeholder="Search" />
    </mat-form-field>

    <button (click)="addEmployee()"  class="m-r-8" mat-flat-button color="accent" >Add Employee</button>

</div>

<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="aadhaarid">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by aadhaar number"
      >
        AttendanceId
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.aadhaarid }}</td>
    </ng-container>
    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">
        Employee
      </th>
      <td mat-cell *matCellDef="let employee">  {{ employee.name }}</td>
    </ng-container>
    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by views">
        Section
      </th>
      <td mat-cell *matCellDef="let employee">
      @if(employee.attendance_book?.title){
        {{ employee.section_name}} / <small>  {{employee.attendance_book?.title}}</small>
      } @else {
        {{ employee.section_name}}
      }

      </td>

    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Start Date
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.start_date }} {{ employee.end_date ? ' - ' + employee.end_date : '' }}  </td>
    </ng-container>

    <!-- <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">
        End Date
      </th>
      <td mat-cell *matCellDef="let employee">{{ employee.end_date }}</td>
    </ng-container> -->
    <ng-container matColumnDef="flexi_current">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  sortActionDescription="Sort by time">
        Flexi (Current)
      </th>
      <td mat-cell *matCellDef="let employee" [style.text-align]="'center'" >
        @if(employee.flexi_time_wef_current){
        {{ employee.flexi_minutes_current}} wef: {{employee.flexi_time_wef_current}}
        } @else {
          Normal
        }
      </td>
    </ng-container>
    <ng-container matColumnDef="flexi_upcoming">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by time">
        Flexi (Upcoming)
      </th>
      <td mat-cell *matCellDef="let employee"  [style.text-align]="'center'" >
        @if(employee.flexi_time_wef_upcoming){
          {{ employee.flexi_minutes_upcoming}} wef: {{employee.flexi_time_wef_upcoming}}
          } @else {
            -
          }

      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let employee">
        <!-- <span (click)="openEditForm(row)" class="action-icon" style="margin-right: 5px;">
          <mat-icon color="primary">edit</mat-icon>
        </span> -->


        @if ( !employee.end_date ) {
          <button mat-button color="primary" (click)="editEmployee(employee)">   <mat-icon >edit</mat-icon> Edit</button>

          <button mat-button color="warn" (click)="relieveEmployee(employee)">   <mat-icon color="warn">remove_circle_outline
          </mat-icon>  Relieve</button>
        }


      </td>
    </ng-container>

    <!-- Symbol Column -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [pageSizeOptions]="[10, 15, 25, 50]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
