

.mat-row {
  height: auto;
}

.mat-cell, .mat-header-cell {
  padding: 0;
}

table {
  width: 100%;
}

.table-container {
  max-height: calc(100vh - 255px);

  /* or height: calc(100vh - 155px); depending on your need  change */
  overflow: auto;
}


/* .menu-badge {
  padding: 2px 3px;
  color: white;
  border-radius: 50rem;
} */

.icon-small {
  transform: scale(.8);
}

/* no blue color */
a:link {
  /* color: black; */
  text-decoration: none;
  /* background-color: transparent; */
}

a:visited {
  /* color: black; */
  text-decoration: none;

  /* background-color: transparent; */
}

a:hover {
  /* color: darkblue; */
  text-decoration: none;

  /* background-color: transparent; */
}

a:active {
  text-decoration: none;

  /* background-color: transparent; */
}

.allow-cr {
  white-space: pre;
}
