

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0;
}

table {
  width: 100%;
}

.table-container {
  max-height: calc(100vh - 155px);

  /* or height: calc(100vh - 155px); depending on your need  change */
  overflow: auto;
}


.menu-badge {
  padding: 2px 3px;
  color: white;
  border-radius: 50rem;
}

.icon-small {
  transform: scale(.8);
}
