

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 0 0 0 0;
}

table {
  width: 100%;
}

.table-container {
  max-height: calc(100vh - 255px);
  /* or height: calc(100vh - 155px); depending on your need  change */
  overflow: auto;
}


.menu-badge {
  border-radius: 50rem;
  padding: 2px 3px;
  color: white;
}

.icon-small {
  transform: scale(.8);
}

/* no blue color */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;

  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  background-color: transparent;
  text-decoration: none;
}
.allow-cr {
  white-space: pre;
}
