<div>
  <form [formGroup]="searchForm" class="row justify-content-between ">

  <mat-form-field class="m-x-8 flex-grow-1"  appearance="outline">
    <mat-label>Month and Year</mat-label>
    <input readonly [max]="todayDate" [min]="beginDate" matInput [matDatepicker]="dp" [formControl]="date" />
    <!-- <mat-hint>{{selectedMonthHint}}</mat-hint> -->
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker
      #dp
      startView="year"
      (monthSelected)="chosenMonthHandler($event, dp)"
      panelClass="example-month-picker"
    >
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field class="m-x-8 flex-grow-1"  appearance="outline">
    <mat-label>Section</mat-label>
    <mat-select  formControlName="selectedSection" (selectionChange)="applyFilter()">
      @for (section of sections; track section) {
        <mat-option [value]="section">{{section}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="m-x-8 flex-grow-1"  appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput  formControlName="searchTxt" (keyup)="applyFilter()" placeholder="Search" />
  </mat-form-field>
</form>
</div>
<div class="mat-elevation-z1">
  <div class="table-container">

    <table mat-table [dataSource]="dataSource" >
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef  sortActionDescription="Sort by number">No.</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="aadhaarid" sticky >
        <th mat-header-cell  *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let row">  <small>{{ row.aadhaarid }}</small>   </td>
      </ng-container> -->

      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell  [style.text-align]="'right'"  [style.background-color]="'#EEEEEEDF'"  *matHeaderCellDef >
          <i> {{selectedMonthHint}} </i>
        </th>
        <td mat-cell  [style.white-space]="'nowrap'" [style.background-color]="'#EEEEEEDF'" *matCellDef="let row"><small>{{ row.aadhaarid }}</small>&nbsp; <b> {{ row.name }} </b><br> <small>{{ row?.designation }}</small> </td>
      </ng-container>


      @for (dayN of dayColumns; track dayN) {
      <ng-container  [matColumnDef]="dayN">
        <th mat-header-cell  [style.color]="calendarInfo[dayN].holiday ? 'red' : ''" [style.background-color]="$odd?'#FAFAFA' : '#FFFFFF'"  [style.text-align]="'center'"  [style.padding]="'0 0'" *matHeaderCellDef  >

          <b> {{ $index+1 }}</b>

        </th>
        <td mat-cell [style.background-color]="$odd?'#FAFAFA' : '#FFFFFF'" [style.text-align]="'center'"  *matCellDef="let row">

          <!-- can be in the future. -->
          @if (calendarInfo[dayN].hint) {
            <span *ngIf="calendarInfo[dayN].hint === 'casual_an' || calendarInfo[dayN].hint === 'casual_fn'" style="color: blue;" >
              <span class="menu-badge bg-red-300"> <small>CL</small> </span></span>
              <span *ngIf="calendarInfo[dayN].hint === 'casual'" style="color: blue;" >
                <span class="menu-badge bg-red-300"> CL </span></span>
          }


          @if (!calendarInfo[dayN].future_date ) {


            @if ( !calendarInfo[dayN].attendance_trace_fetch_complete && !calendarInfo[dayN].is_today  ) {
              <span style="color: lightgrey;" ><mat-icon  class="icon-small">cloud_download</mat-icon></span>
             <!-- <span style="color: lightgrey;" >.</span> -->

            } @else {

              <span *ngIf="row[dayN].punching_count >=6 " style="color: gray;" ><mat-icon>looks_6</mat-icon></span>
              <span *ngIf="row[dayN].punching_count === 5" style="color: gray;" ><mat-icon>looks_5</mat-icon></span>
              <span *ngIf="row[dayN].punching_count === 4" style="color: gray;" ><mat-icon>looks_4</mat-icon></span>
              <span *ngIf="row[dayN].punching_count === 3" style="color: gray;" ><mat-icon>looks_3</mat-icon></span>
              <span *ngIf="row[dayN].punching_count === 2" style="color: gray;" ><mat-icon>looks_two</mat-icon></span>
              <span *ngIf="row[dayN].punching_count === 1 && !calendarInfo[dayN].is_today" style="color: orange;" ><mat-icon>looks_one</mat-icon></span>
              <span *ngIf="row[dayN].punching_count === 1 && calendarInfo[dayN].is_today" style="color: blue;" ><mat-icon>looks_one</mat-icon></span>

              @if (row[dayN].punching_count === 0 && !calendarInfo[dayN].hint && !calendarInfo[dayN].is_today) {
                <span class="menu-badge bg-red-300">&nbsp;L&nbsp;</span>

              }

              @if (row[dayN].total_grace_sec/60 > 300 ) {
              }

            }

            <!--DONE half day leave and single or double punch-->
            <!--exceeded one hour -->
            <!--exceeded 300 min-->

          }
       </td>
      </ng-container>
    }


    <ng-container matColumnDef="info" sticky >
      <th mat-header-cell  *matHeaderCellDef>
        Info
      </th>
      <td mat-cell *matCellDef="let row"> CL=4; Co=5.   </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


  </div>
  <mat-paginator
  #paginator
  [pageSizeOptions]="[50, 100, 200]"
  showFirstLastButtons
  aria-label="Select page"
>
</mat-paginator>
</div>


