@if (punching.punching_count >= 2 && !punching.computer_hint) {
  {{ punching.duration_str }}
}
@if (punching.punching_count >= 2 && punching.computer_hint && punching.is_unauthorised) {
  @if (punching.computer_hint === 'casual_fn') {
    <span [style.color]="casual_half_unauthcolor" class="computer-hint">
      <small [innerHtml]="casual_half_text + '?'"></small>
    </span>
    {{ punching.duration_str }}
  } @else if (punching.computer_hint === 'casual_an') {
    {{ punching.duration_str }}
    <span [style.color]="casual_half_unauthcolor" class="computer-hint">
      <small [innerHtml]="casual_half_text + '?'"></small>
    </span>
  }
} @else if (punching.punching_count >= 2 && punching.computer_hint && !punching.is_unauthorised) {
  @if (punching.computer_hint === 'casual_fn') {
    <span [style.color]="casual_half_authcolor" class="computer-hint">
      <small [innerHtml]="casual_half_text"></small>
    </span>
    {{ punching.duration_str }}
  } @else if (punching.computer_hint === 'casual_an') {
    {{ punching.duration_str }}
    <span [style.color]="casual_half_authcolor" class="computer-hint">
      <small [innerHtml]="casual_half_text"></small>
    </span>
  }
} @else if (
  punching.punching_count >= 2 && !is_holiday && !is_today && (punching.computer_hint)
) {
  {{ punching.duration_str }}
} @else if (is_today && punching.punching_count < 2 && !is_holiday) {
  <span [style]="getTodaysStyle()"> - </span>
} @else if (punching.is_unauthorised && !punching.leave) {
  <span [style.color]="'red'"> Unauthorised </span>
} @else if (
  !is_today && (punching.punching_count === 1 || punching.single_punch_type) && !is_holiday
) {
  <span [style]="getSinglePunchingStyle()"> One-Time Punching </span>
} @else if (
  !is_today &&
  !is_holiday &&
  punching.punching_count < 2 &&
  (punching.leave?.active_status === 'Y' || punching.leave?.active_status === 'N')
) {
  <span [style.color]="getLeaveColor()" [style.font-weight]="'bold'" [style.font-size]="'medium'">
    {{ punching.leave?.leave_type }}
  </span>
} @else if(punching.leave && punching.leave.active_status === 'R'){
  <span [style]="returnedleaveStyle()">
    {{punching.leave.active_status}}
    <small [innerHtml]="returned_leaveText"></small>
  </span>

}

@else {
  @if ((punching.hint && punching.hint !== 'clear') || !punching.hint) {
    <span [style.color]="'red'">
      {{ getLeaveText(punching) }}
    </span>
  }
}
