@if (is_today && punching.punching_count < 2 && !is_holiday) {
  <span [style.color]="'black'" [style.text-align]="'center'"> - </span>
}

@if (punching.single_punch_type) {
  <span [style]="getSinglePunchingStyle()">
    @if (punching.single_punch_type === 'in') {
      Missed Punch Out
    } @else {
      Missed Punch In
    }
  </span>
  @if (punching.single_punch_regularised_by) {
    <span [style.color]="'black'" [style.font-size]="'small'" [style.font-weight]="'bold'">Regularised</span>
  }
}

@if (
  punching.is_unauthorised &&
  !is_today &&
  !punching.leave &&
  !punching.computer_hint &&
  !punching.hint &&
  !punching.single_punch_regularised_by
) {
  <span [style.color]="'red'">Unauthorised</span>
  <!-- {{ punching.duration_str }} -->
}

@if (punching.leave && !is_today) {
  @if (punching.is_unauthorised || !punching.is_unauthorised) {
    @if (punching.leave.leave_cat === 'H') {
      @if (punching.leave.time_period === 'FN') {
        <span [style]="getLeaveStyle(punching.leave.active_status)">
          <small [innerHtml]="casual_half_text"></small><small>_FN</small></span
        >
        {{ punching.duration_str }}
      } @else {
        {{ punching.duration_str }}
        <span [style]="getLeaveStyle(punching.leave.active_status)">
          <small [innerHtml]="casual_half_text"></small><small>_AN</small></span
        >
      }
    } @else {
      <span [style]="getLeaveStyle(punching.leave.active_status)">
        {{ getLeaveText(punching.leave.leave_type) }}
      </span>
    }
  }
} @else if (punching.computer_hint && !punching.hint) {
  @if (punching.is_unauthorised || !punching.is_unauthorised) {
    @if (punching.computer_hint === 'casual_fn') {
      <span [style.color]="'orange'" [style.font-weight]="'bold'">
        <small [innerHtml]="casual_half_text"></small><small>_FN?</small></span
      >
      {{ punching.duration_str }}
    } @else if (punching.computer_hint === 'casual_an') {
      {{ punching.duration_str }}
      <span [style.color]="'orange'" [style.font-weight]="'bold'"
        ><small [innerHtml]="casual_half_text"></small><small>_AN?</small></span
      >
    }@else if(punching.computer_hint === 'casual' && !is_today) {
      {{ punching.duration_str }}
      <span [style.color]="'orange'" [style.font-weight]="'bold'"
        ><small>Casual?</small></span
      >

    }
  }
} @else if (punching.hint && punching.hint !== 'clear' && !punching.single_punch_regularised_by) {
  @if (!punching.finalized_by_controller) {
    @if (punching.hint === 'casual_fn') {
      <span [style.color]="'DeepPink'">{{ getLeaveText(punching.hint) }}</span>
      {{ punching.duration_str }}
    } @else if (punching.hint === 'casual_an') {
      {{ punching.duration_str }}
      <span [style.color]="'DeepPink'">{{ getLeaveText(punching.hint) }}</span>
    } @else {
      <span [style.color]="'Deeppink'">
        {{ getLeaveText(punching.hint) }}
      </span>
    }
  } @else if (punching.finalized_by_controller) {
    @if (punching.hint === 'casual_fn') {
      <span [style.color]="'red'">{{ getLeaveText(punching.hint) }}</span>
      {{ punching.duration_str }}
    } @else if (punching.hint === 'casual_an') {
      {{ punching.duration_str }}
      <span [style.color]="'red'">{{ getLeaveText(punching.hint) }}</span>
    } @else {
      <span [style.color]="'red'">
        {{ getLeaveText(punching.hint) }}
      </span>
    }
  }

  <!-- @if(punching.hint === 'casual_fn'){
    <span [style.color]="'DeepPink'">{{ getLeaveText(punching.hint) }}</span>
    {{ punching.duration_str }}
  }@else {
    {{ punching.duration_str }}
    <span [style.color]="'DeepPink'">{{ getLeaveText(punching.hint) }}</span>
  } -->
} @else {
  {{ punching.duration_str }}
}
